*.egg-info
*.pot
*.py[co]
__pycache__
dist/
build/
env/

.idea/
.vscode/
migrations

.gm_rpcd.log/
celerybeat-schedule
celerybeat-schedule.db
celerybeat.pid
rpcd.json
settings/settings_local.py
files/fix_operation.conf
